/**
sass --watch stylesheets:css
*/

$font-normal: 'Open Sans', sans-serif;

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  position: relative;
}

.logo {
  position: absolute;
  top: 64px;
  left: 64px;

  height: 64px;
  width: auto;
}

.title {
  background-color: #000;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 600px;
  }

  p {
    font-family: $font-normal;
    font-size: 18px;
    color: #fff;
  }
}
