/**
sass --watch stylesheets:css
*/

$font-normal: 'Open Sans', sans-serif;

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  position: relative;
}

.logo {
  position: absolute;
  top: 64px;
  left: 64px;

  width: 128px;
}

.title {
  background-color: #000;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
  }

  p {
    font-family: $font-normal;
    font-size: 18px;
    color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    display: none;
  }
}
